ul ul{
    padding:0;
    overflow:hidden;
    transition:.1s;
    margin:0;
}

button{
    position: relative;
    border-radius:10px;
    width: 100%;
    background-color: rgb(117, 134, 230);
    color: black;
    cursor: pointer;
    text-align: left;
    padding: 15px 0 15px 20px;
    margin-top:10px;
    font-size:1em;
}


button:hover{
    background-color: rgb(71, 71, 189);
}

.Btn3{
    background-color:rgb(113, 221, 113);
}

.Btn3:hover{
    background-color:rgb(70, 182, 130);
}

.Btn2{
    background-color:rgb(255, 177, 59);
}

.Btn2:hover{
    background-color:rgb(233, 134, 42);
}

.Btn4{
  background-color:rgb(127, 77, 173)
}

.Btn4:hover{
  background-color:rgb(67, 17, 114)
}

.Btn5{
  background-color:gray;
}

.Btn5:hover{
  background-color: rgb(90, 85, 85);
}

.Btn6{
  background-color:whitesmoke;
}

.Btn6:hover{
  background-color:rgb(216, 208, 208);
}

button::before,
button::after{
  content:"";
  position: absolute;
  top: 23px;
  width: 1.5px;
  height: 8px;
  background-color: #fff;
  transition: .5s;
}
button::before{
  transform: rotate(-45deg);
  right: 35px;
}
button::after{
  transform: rotate(45deg);
  right: 30px;
}
li.active button::before{
  transform: rotate(-135deg);
  transition:.5s;
}
li.active button::after{
  transform: rotate(135deg);
  transition:.5s;
}

ul.active{overflow-y:auto;}